<header>
<a href="https://www.brad.fi" class="asciilink"><p class="asciiart">
<span id="headlogo1">    ____                 __   ____        __            </span>
<span id="headlogo2">   / __ )_________ _____/ /  / __ )____ _/ /_____  _____</span>
<span id="headlogo3">  / __  / ___/ __ `/ __  /  / __  / __ `/ //_/ _ \/ ___/</span>
<span id="headlogo4"> / /_/ / /  / /_/ / /_/ /  / /_/ / /_/ / ,. /  __/ /    </span>
<span id="headlogo5">/___,_/_/   \__,_/\__,_/  /_____/\__,_/_/|_|\___/_/     </span>
<span id="headlogo6">                               https://www.brad.fi      </span></p></a>
<!--56x6-->
	<nav class="headnavbar">
			<a href="/"><b>Home</b></a>
			{{ with .Site.Menus.main }}
			{{ range . }}
			&nbsp;⁛&nbsp;<a href="{{ .URL | relURL }}"><b>{{ .Name }}</b></a>
			{{ end }}
	</nav>
	{{ end }}
</header>
