<header>
<a href="https://www.brad.fi" class="asciilink"><p class="asciiart">
<span style="color:var(--logo1);">    ____                 __   ____        __            </span>
<span style="color:var(--logo2);">   / __ )_________ _____/ /  / __ )____ _/ /_____  _____</span>
<span style="color:var(--logo3);">  / __  / ___/ __ `/ __  /  / __  / __ `/ //_/ _ \/ ___/</span>
<span style="color:var(--logo4);"> / /_/ / /  / /_/ / /_/ /  / /_/ / /_/ / ,. /  __/ /    </span>
<span style="color:var(--logo5);">/___,_/_/   \__,_/\__,_/  /_____/\__,_/_/|_|\___/_/     </span>
<span style="color:var(--logo6);">                               https://www.brad.fi      </span></p></a>
<!--56x6-->
	<nav class="headnavbar">
			<a href="/"><b>Home</b></a>
			{{ with .Site.Menus.main }}
			{{ range . }}
			&nbsp;⁛&nbsp;<a href="{{ .URL | relURL }}"><b>{{ .Name }}</b></a>
			{{ end }}
	</nav>
	{{ end }}
</header>
