html {overflow-y: scroll}
:root { --bgcolor: #F0EBD8; --fontcolor: #0D1321; --linkcolor: #1D2D44; --visitedcolor: #3E5C76; --precolor: #AF751D; --prebgcolor: #000;
--logo1: #4D627E;
--logo2: #40526B;
--logo3: #334259;
--logo4: #273346;
--logo5: #1A2334;
--logo6: #0D1321;
}
@media (prefers-color-scheme: dark) { :root { --bgcolor: #0D1321; --fontcolor: #F0EBD8; --linkcolor: #99ABC2; --visitedcolor: #6681A3; --precolor: #fff; --prebgcolor: #383838;
--logo1: #A8B6C6;
--logo2: #B6C0C9;
--logo3: #C5CBCD;
--logo4: #D3D6D1;
--logo5: #E2E0D4;
--logo6: #F0EBD8;
}}
body{max-width:800px;margin:auto auto;padding:0 10px;font:14px/1.5 monospace;color:var(--fontcolor); background: var(--bgcolor)}a:link{color: var(--linkcolor)}a:visited{color: var(--visitedcolor)}a:active{color: var(--visitedcolor)}h1,h2,h3{line-height:1.2}
p > code{color: var(--precolor); background: var(--prebgcolor); padding:2px}
pre{color: var(--precolor); background: var(--prebgcolor); padding:24px; overflow-x: auto}
article{padding:24px 0}
.center {display: block;margin-left: auto;margin-right: auto;width: 100%;}
figcaption {color: #888; font: 12px/1.5 monospace; text-align: center;}
figure {margin: auto}
img {display: block; max-width: 100%; height: auto; margin: auto}
.asciiart { font: 10px monospace; display: block; unicode-bidi: embed; font-family: monospace; white-space: pre; text-decoration: none; font-weight: bolder;}
.asciiart a, a:hover, a:visited, a:link, a:active { text-decoration: none; font-weight: bolder;}
.asciilink {display: flex; justify-content: center; margin: auto auto auto auto;}
.headnavbar {text-transform: uppercase; font: 16px/1.5 monospace; display: flex; justify-content: center;}
.headnavbar a:link{color: var(--textcolor)}
.headnavbar a:visited{color: var(--textcolor)}
