<header>
	<!--
	{{ strings.Repeat ( .Site.Title | len | add 6 ) "=" }}<br>
	== <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a> ==<br>
	{{ strings.Repeat ( .Site.Title | len | add 6 ) "=" }}
	-->
	<p class="asciiart" style="align-items: center;">
<span style="color:#6681A3;">    ____                 __   ____        __            </span>
<span style="color:#738BAB;">   / __ )_________ _____/ /  / __ )____ _/ /_____  _____</span>
<span style="color:#8096B3;">  / __  / ___/ __ `/ __  /  / __  / __ `/ //_/ _ \/ ___/</span>
<span style="color:#8CA0BA;"> / /_/ / /  / /_/ / /_/ /  / /_/ / /_/ / ,. /  __/ /    </span>
<span style="color:#99abc2;">/___,_/_/   \__,_/\__,_/  /_____/\__,_/_/|_|\___/_/     </span>
                               https://www.brad.fi      </p>
	<!--<div style="float: right;">{{ .Site.Params.subtitle }}</div><br>-->
	<p>
	<nav>
			<a href="/"><b>Start</b></a>.
			{{ with .Site.Menus.main }}
			{{ range . }}
			<a href="{{ .URL | relURL }}"><b>{{ .Name }}</b></a>.
			{{ end }}
	</nav>
	</p>
	{{ end }}
</header>
